QTimeEdit {
}

QTimeEdit::up-button {
   subcontrol-origin: border;
   subcontrol-position: top right; /* position at the top right corner */
   width: 16px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
   border-image: url(:/styles/styles/SpinBox/numeric-up-normal.png) 1;
   border-width: 1px;
}
QTimeEdit::up-button:hover {
   border-image: url(:/styles/styles/SpinBox/numeric-up-hover.png) 1;
}
QTimeEdit::up-button:pressed {
   border-image: url(:/styles/styles/SpinBox/numeric-up-down.png) 1;
}
QTimeEdit::up-button:disabled {
   border-image: url(:/styles/styles/SpinBox/numeric-up-disabled.png) 1;
}

QTimeEdit::down-button {
   subcontrol-origin: border;
   subcontrol-position: bottom right; /* position at bottom right corner */
   width: 16px;
   border-image: url(:/styles/styles/SpinBox/numeric-down-normal.png) 1;
   border-width: 1px;
}
QTimeEdit::down-button:hover {
   border-image: url(:/styles/styles/SpinBox/numeric-down-hover.png) 1;
}
QTimeEdit::down-button:pressed {
   border-image: url(:/styles/styles/SpinBox/numeric-down-down.png) 1;
}
QTimeEdit::down-button:disabled {
   border-image: url(:/styles/styles/SpinBox/numeric-down-disabled.png) 1;
}
