
QGroupBox::indicator {
    width: 16px;
    height: 16px;
}

QGroupBox::indicator:unchecked:disabled {
    image: url(:/styles/styles/CheckBox/checkbox-disabled.png);
}
QGroupBox::indicator:unchecked {
    image: url(:/styles/styles/CheckBox/checkbox-normal.png);
}
QGroupBox::indicator:unchecked:hover {
    image: url(:/styles/styles/CheckBox/checkbox-hover.png);
}
QGroupBox::indicator:unchecked:pressed {
    image: url(:/styles/styles/CheckBox/checkbox-down.png);
}


QGroupBox::indicator:checked:disabled {
    image: url(:/styles/styles/CheckBox/checkbox-checked-disabled.png);
}
QGroupBox::indicator:checked {
    image: url(:/styles/styles/CheckBox/checkbox-checked-normal.png);
}
QGroupBox::indicator:checked:hover {
    image: url(:/styles/styles/CheckBox/checkbox-checked-hover.png);
}
QGroupBox::indicator:checked:pressed {
    image: url(:/styles/styles/CheckBox/checkbox-checked-down.png);
}

QGroupBox::indicator:indeterminate:hover {
}
QGroupBox::indicator:indeterminate:pressed {
}