QLineEdit {
    border-image: url(:/styles/styles/LineEdit/lineedit-normal.png);
    min-height:20px;
    color:#666666;
}

QLineEdit:focus {
    border-image: url(:/styles/styles/LineEdit/lineedit-down.png);
    color:#333333;
}

QLineEdit:hover {
    border-image: url(:/styles/styles/LineEdit/lineedit-hover.png);
    color:#333333;
}

QLineEdit:read-only {
    border-image: url(:/styles/styles/LineEdit/lineedit-disabled.png);
    color:#aaaaaa;
}