QPushButton[cssType="bigRibbonButton"]{
    border:none;
    min-width: 68px;
    max-width: 68px;
    min-height: 60px;
    max-height: 60px;
}

QPushButton[cssType="bigRibbonButton"]>QLabel{
    color: #666666;
    font-size: 11px;
}

QPushButton[cssType="bigRibbonButton"]:selected{
    border-image: url(:/styles/styles/RibbonButton/ribbon-btn-hover.png);
}

QPushButton[cssType="bigRibbonButton"]:hover{
    border-image: url(:/styles/styles/RibbonButton/ribbon-btn-hover.png);
}

QPushButton[cssType="bigRibbonButton"]:disabled{
    border:none;
}